@use "sass:map";

$White: #ffffff !default;
$Black: #000000 !default;

$Blue10: #f0f3ff !default;
$Blue20: #ccd5ff !default;
$Blue30: #0000bf !default;
$Blue40: #00005e !default;

$Gray10: #f4f4f4 !default;
$Gray20: #e0e0e0 !default;
$Gray30: #c6c6c6 !default;
$Gray40: #a8a8a8 !default;
$Gray50: #8d8d8d !default;
$Gray60: #6f6f6f !default;
$Gray70: #525252 !default;
$Gray80: #393939 !default;
$Gray90: #262626 !default;
$Gray100: #161616 !default;

$color: (
  blue10: $Blue10,
  blue20: $Blue20,
  blue30: $Blue30,
  blue40: $Blue40,

  gray10: $Gray10,
  gray20: $Gray20,
  gray30: $Gray30,
  gray40: $Gray40,
  gray50: $Gray50,
  gray60: $Gray60,
  gray70: $Gray70,
  gray80: $Gray80,
  gray90: $Gray90,
  gray100: $Gray100,

  white: $White,
  black: $Black,
) !default;
