@use 'sass:map';

$white: #ffffff !default;
$black: #000000 !default;

$blue10: #f0f3ff !default;
$blue20: #ccd5ff !default;
$blue30: #0000bf !default;
$blue40: #00005e !default;

$gray10: #f4f4f4 !default;
$gray20: #e0e0e0 !default;
$gray30: #c6c6c6 !default;
$gray40: #a8a8a8 !default;
$gray50: #8d8d8d !default;
$gray60: #6f6f6f !default;
$gray70: #525252 !default;
$gray80: #393939 !default;
$gray90: #262626 !default;
$gray100: #161616 !default;

$color: (
  blue10: $blue10,
  blue20: $blue20,
  blue30: $blue30,
  blue40: $blue40,

  gray10: $gray10,
  gray20: $gray20,
  gray30: $gray30,
  gray40: $gray40,
  gray50: $gray50,
  gray60: $gray60,
  gray70: $gray70,
  gray80: $gray80,
  gray90: $gray90,
  gray100: $gray100,

  white: $white,
  black: $black,
) !default;
