$spaceBase: 8px !default;

$space25: $spaceBase * 0.25 !default;
$space50: $spaceBase * 0.5 !default;
$space100: $spaceBase * 1 !default;
$space150: $spaceBase * 1.5 !default;
$space200: $spaceBase * 2 !default;
$space300: $spaceBase * 3 !default;
$space400: $spaceBase * 4 !default;
$space500: $spaceBase * 5 !default;
$space600: $spaceBase * 6 !default;
$space800: $spaceBase * 8 !default;
$space1000: $spaceBase * 10 !default;
$space1500: $spaceBase * 15 !default;

@function space($multiplier: 1, $base: $spaceBase) {
  @return $base * $multiplier;
}
