$base: 8px;

$spacing-025: $base * 0.25;
$spacing-050: $base * 0.5;
$spacing-100: $base * 1;
$spacing-150: $base * 1.5;
$spacing-200: $base * 2;
$spacing-300: $base * 3;
$spacing-400: $base * 4;
$spacing-500: $base * 5;
$spacing-600: $base * 6;
$spacing-800: $base * 8;
$spacing-1000: $base * 10;
$spacing-1500: $base * 15;

@function spacing($multiplier: 1) {
  @return $base * $multiplier;
}
