$fontSize10: 12px !default;
$fontSize20: 14px !default;
$fontSize30: 16px !default;
$fontSize40: 18px !default;
$fontSize50: 20px !default;
$fontSize60: 24px !default;
$fontSize70: 32px !default;
$fontSize80: 40px !default;
$fontSize90: 48px !default;
$fontSize100: 64px !default;

$lineHeight10: 1 !default;
$lineHeight20: 1.2 !default;
$lineHeight30: 1.5 !default;
$lineHeight40: 1.6 !default;

$fontWeight100: 100 !default;
$fontWeight200: 200 !default;
$fontWeight300: 300 !default;
$fontWeight400: 400 !default;
$fontWeight500: 500 !default;
$fontWeight600: 600 !default;
$fontWeight700: 700 !default;
$fontWeight800: 800 !default;
$fontWeight900: 900 !default;

$letterSpacingNegative30: -0.03em !default;
$letterSpacingNegative20: -0.02em !default;
$letterSpacingNegative10: -0.01em !default;
$letterSpacing0: 0 !default;
$letterSpacing10: 0.01em !default;
$letterSpacing20: 0.02em !default;
$letterSpacing30: 0.03em !default;

@mixin heading-01 {
  font-size: $fontSize100;
  line-height: $lineHeight10;
  font-weight: $fontWeight600;
  letter-spacing: $letterSpacingNegative30;
}

@mixin heading-02 {
  font-size: $fontSize90;
  line-height: $lineHeight10;
  font-weight: $fontWeight600;
  letter-spacing: $letterSpacingNegative30;
}

@mixin heading-03 {
  font-size: $fontSize80;
  line-height: $lineHeight20;
  font-weight: $fontWeight600;
  letter-spacing: $letterSpacingNegative20;
}

@mixin heading-04 {
  font-size: $fontSize70;
  line-height: $lineHeight20;
  font-weight: $fontWeight600;
  letter-spacing: $letterSpacingNegative20;
}

@mixin heading-05 {
  font-size: $fontSize60;
  line-height: $lineHeight20;
  font-weight: $fontWeight700;
  letter-spacing: $letterSpacing0;
}

@mixin heading-06 {
  font-size: $fontSize50;
  line-height: $lineHeight20;
  font-weight: $fontWeight700;
  letter-spacing: $letterSpacing0;
}

@mixin body-01 {
  font-size: $fontSize40;
  line-height: $lineHeight40;
  font-weight: $fontWeight400;
  letter-spacing: $letterSpacing0;
}

@mixin body-02 {
  font-size: $fontSize30;
  line-height: $lineHeight40;
  font-weight: $fontWeight400;
  letter-spacing: $letterSpacing0;
}

@mixin body-03 {
  font-size: $fontSize20;
  line-height: $lineHeight40;
  font-weight: $fontWeight400;
  letter-spacing: $letterSpacing0;
}

@mixin button-01 {
  font-size: $fontSize40;
  line-height: $lineHeight30;
  font-weight: $fontWeight600;
  letter-spacing: $letterSpacing0;
}

@mixin label-01 {
  font-size: $fontSize20;
  line-height: $lineHeight30;
  font-weight: $fontWeight500;
  letter-spacing: $letterSpacing20;
}

@mixin label-02 {
  font-size: $fontSize10;
  line-height: $lineHeight30;
  font-weight: $fontWeight500;
  letter-spacing: $letterSpacing20;
}

@mixin typography($token) {
  @if $token == heading-01 {
    @include heading-01;
  } @else if $token == heading-02 {
    @include heading-02;
  } @else if $token == heading-03 {
    @include heading-03;
  } @else if $token == heading-04 {
    @include heading-04;
  } @else if $token == heading-05 {
    @include heading-05;
  } @else if $token == heading-06 {
    @include heading-06;
  } @else if $token == body-01 {
    @include body-01;
  } @else if $token == body-02 {
    @include body-02;
  } @else if $token == body-03 {
    @include body-03;
  } @else if $token == label-01 {
    @include label-01;
  } @else if $token == button-01 {
    @include button-01;
  } @else if $token == label-02 {
    @include label-02;
  } @else {
    @include body-01;
  }
}
